@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
  margin: 0;
  padding: 0;
  background: #181818;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #00e6e6;
  text-decoration: none;
}